version: 0.0
os: linux
files:
  - source: /
    destination: /deploy
hooks:
  ApplicationStart:
    - location: PORT=4000 /deploy/bin/deployable start
  ApplicationStop:
    - location: /deploy/bin/deployable stop
  ValidateService:
    - location: /deploy/bin/deployable ping
