version: 0.0
os: linux
hooks:
  ApplicationStart:
    - location: script/start
      runas: deploy
  ApplicationStop:
    - location: script/stop
      runas: deploy
  AfterInstall:
    - location: script/after_install
  ValidateService:
    - location: script/validate
      runas: deploy
